{% extends 'base.html' %}
{% block content %}
<section class="breadcrumb-option">
    <div class="container">
        <div class="breadcrumb__links">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'shop' %}">Shop</a>
            <span>Checkout</span>
        </div>
    </div>
</section>

<section class="checkout spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-6">
                {% if messages %}
                    {% for message in messages %}
                        <div class="notification alert alert-dismissible fade show {% if message.tags == 'error' %}error{% elif message.tags == 'success' %}success{% endif %}" style="transform: translateY(-20px);">
                            <div class="notification-content">
                                <div class="notification-title">{{message.tags}}</div>
                                <div class="notification-description">{{message}}</div>
                                <div class="close-button" data-bs-dismiss="alert">X</div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                <h4>Billing Details</h4>
                <form method="post" action="{% url 'checkout' %}">
                    {% csrf_token %}
                    <div class="checkout__input{% if form.first_name.errors %} has-danger{% endif %}">
                        <p>First Name<span>*</span></p>
                        {{ form.first_name }}
                        {% for error in form.first_name.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="checkout__input{% if form.last_name.errors %} has-danger{% endif %}">
                        <p>Last Name<span>*</span></p>
                        {{ form.last_name }}
                        {% for error in form.last_name.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="checkout__input{% if form.email.errors %} has-danger{% endif %}">
                        <p>Email<span>*</span></p>
                        {{ form.email }}
                        {% for error in form.email.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="checkout__input{% if form.address.errors %} has-danger{% endif %}">
                        <p>Address<span>*</span></p>
                        {{ form.address }}
                        {% for error in form.address.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="checkout__input{% if form.city.errors %} has-danger{% endif %}">
                        <p>City<span>*</span></p>
                        {{ form.city }}
                        {% for error in form.city.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="checkout__input{% if form.state.errors %} has-danger{% endif %}">
                        <p>State<span>*</span></p>
                        {{ form.state }}
                        {% for error in form.state.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="checkout__input{% if form.zip_code.errors %} has-danger{% endif %}">
                        <p>Zip Code<span>*</span></p>
                        {{ form.zip_code }}
                        {% for error in form.zip_code.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>
                    {% if not user.is_authenticated %}
                    <div class="checkout__input__checkbox">
                        <label for="id_create_account">
                            Create an account?
                            {{ form.create_account }}
                            <span class="checkmark"></span>
                        </label>
                        <p>Create an account by entering the information below. If you are a returning customer please login at the top of the page</p>
                    </div>
                    <div class="checkout__input{% if form.password.errors %} has-danger{% endif %}">
                        <p>Account Password<span>*</span></p>
                        {{ form.password }}
                        {% for error in form.password.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div class="checkout__input__checkbox">
                        <label for="order_notes">
                            Note about your order, e.g., special note for delivery
                            <input type="checkbox" id="order_notes">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="checkout__input{% if form.note.errors %} has-danger{% endif %}">
                        <p>Order Notes</p>
                        {{ form.note }}
                        {% for error in form.note.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="checkout__input{% if form.payment_method.errors %} has-danger{% endif %}">
                        <p>Payment<span>*</span></p>
                        {{ form.payment_method }}
                        {% for error in form.payment_method.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="site-btn">PLACE ORDER</button>
                </form>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="checkout__order">
                    <h4 class="order__title">Your order</h4>
                    <div class="checkout__order__products">Product <span>Total</span></div>
                    <ul class="checkout__total__products">
                        {% for item in cart_items %}
                        <li>{{ forloop.counter }}. {{ item.product.name }} <span>${{ item.total_price|floatformat:2 }}</span></li>
                        {% endfor %}
                    </ul>
                    <ul class="checkout__total__all">
                        <li>Subtotal <span>${{ total_price|floatformat:2 }}</span></li>
                        <li>Total <span>${{ total_price|floatformat:2 }}</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}