{% extends 'base.html' %}
{% block content %}
<section class="breadcrumb-option">
    <div class="container">
        <div class="breadcrumb__links">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'shop' %}">Shop</a>
            <span>Checkout</span>
        </div>
    </div>
</section>
<section class="checkout spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-6">
                {% if messages %}
                    {% for message in messages %}
                        <div class="notification alert alert-dismissible fade show {% if message.tags == 'error' %}error{% elif message.tags == 'success' %}success{% endif %}" style="transform: translateY(-20px);">
                            <div class="notification-content">
                                <div class="notification-title">{{message.tags}}</div>
                                <div class="notification-description">
                                    {{message}}
                                    {% if form.errors %}
                              <ul>
                                {% for field, errors in form.errors.items %}
                                {% for error in errors %}
                                <li>{{field}}: {{error}}</li>
                                {% endfor %}
                                {% endfor %}
                              </ul>
                              {% endif %}
                                </div>
                                <div class="close-button" data-bs-dismiss="alert">X</div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                <h4>Billing Details</h4>
                <form method="post" action="{% url 'checkout' %}">
                    {% csrf_token %}
                    <div class="checkout__input{% if form.first_name.errors %} has-danger{% endif %}">
                        <p>First Name<span>*</span></p>
                        {{ form.first_name }}
                        {% for error in form.first_name.errors %}
                        <div class="invalid-error">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="checkout__input{% if form.last_name.errors %} has-danger{% endif %}">
                        <p>Last Name<span>*</span></p>
                        {{ form.last_name }}
                        {% for error in form.last_name.errors %}
                        <div class="invalid-error">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="checkout__input{% if form.email.errors %} has-danger{% endif %}">
                        <p>Email<span>*</span></p>
                        <div class="invalid-error">{{ error }}</div>
                        {{ form.email }}
                        {% for error in form.email.errors %}
                        
                        {% endfor %}
                    </div>
                    <div class="checkout__input{% if form.address.errors %} has-danger{% endif %}">
                        <p>Address<span>*</span></p>
                        <div class="invalid-error">{{ error }}</div>
                        {{ form.address }}
                        {% for error in form.address.errors %}
                        {% endfor %}
                    </div>
                    <div class="checkout__input{% if form.city.errors %} has-danger{% endif %}">
                        <p>City<span>*</span></p>
                        <div class="invalid-error">{{ error }}</div>
                        {{ form.city }}
                        {% for error in form.city.errors %}
                        {% endfor %}
                    </div>
                    <div class="checkout__input{% if form.state.errors %} has-danger{% endif %}">
                        <p>State<span>*</span></p>
                        {{ form.state }}
                        {% for error in form.state.errors %}
                        <div class="invalid-error">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="checkout__input{% if form.zip_code.errors %} has-danger{% endif %}">
                        <p>Zip Code<span>*</span></p>
                        {{ form.zip_code }}
                        {% for error in form.zip_code.errors %}
                        <div class="invalid-error">{{ error }}</div>
                        {% endfor %}
                    </div>
                    {% if not user.is_authenticated %}
                    <div class="checkout__input__checkbox">
                        <label for="id_create_account">
                            Create an account?
                            <input type="checkbox" name="create_account" id="id_create_account" {% if form.create_account.value %}checked{% endif %}>
                            <span class="checkmark"></span>
                        </label>
                        <p>Create an account by entering the information below. If you are a returning customer please login at the top of the page</p>
                    </div>
                    <div id="account_fields" style="{% if form.create_account.value %}display:block;{% else %}display:none;{% endif %}">
                        <div class="checkout__input{% if form.password1.errors %} has-danger{% endif %}">
                            <p>Password{% if form.create_account.value %}<span>*</span>{% endif %}</p>
                            {{ form.password1 }}
                            {% for error in form.password1.errors %}
                                <div class="invalid-error">{{ error }}</div>
                            {% endfor %}
                        </div>
                        
                        <div class="checkout__input{% if form.password2.errors %} has-danger{% endif %}">
                            <p>Confirm Password{% if form.create_account.value %}<span>*</span>{% endif %}</p>
                            {{ form.password2 }}
                            {% for error in form.password2.errors %}
                                <div class="invalid-error">{{ error }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                    <div class="checkout__input__checkbox">
                        <label for="order_notes">
                            Note about your order, e.g., special note for delivery
                            <input type="checkbox" id="order_notes">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="checkout__input{% if form.note.errors %} has-danger{% endif %}">
                        <p>Order Notes</p>
                        {{ form.note }}
                        {% for error in form.note.errors %}
                        <div class="invalid-error">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <div class="checkout__input{% if form.payment_method.errors %} has-danger{% endif %}">
                        <p>Payment<span>*</span></p>
                        {{ form.payment_method }}
                        {% for error in form.payment_method.errors %}
                        <div class="invalid-error">{{ error }}</div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="site-btn">PLACE ORDER</button>
                </form>
                <script>
                    document.getElementById('id_create_account').addEventListener('change', function() {
                        const accountFields = document.getElementById('account_fields');
                        if (this.checked) {
                            accountFields.style.display = 'block';
                        } else {
                            accountFields.style.display = 'none';
                        }
                    });
                </script>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="checkout__order">
                    <h4 class="order__title">Your order</h4>
                    <div class="checkout__order__products">Product <span>Total</span></div>
                    <ul class="checkout__total__products">
                        {% for item in cart_items %}
                        <li>{{ forloop.counter }}. {{ item.product.name }} <span class="product-price" data-base-price="{{ item.total_price }}">USD {{ item.total_price|floatformat:2 }}</span></li>
                        {% endfor %}
                    </ul>
                    <ul class="checkout__total__all">
                        <li>Subtotal <span class="product-price" data-base-price="{{ total_price }}">NGN {{ total_price|floatformat:2 }}</span></li>
                        <li>Total <span class="product-price" data-base-price="{{ total_price }}">NGN {{ total_price|floatformat:2 }}</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}