{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="home-bg section h-100vh" id="home">
    <div class="bg-overlay"></div>
        <div class="container z-index d-flex">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="text-white">
                        <h4>Hello & Welcome! </h4>
                        <h1 class="header_title mb-0 mt-3"><span class="element fw-bold" data-elements="BOBBY'S E-SHOP, CLASSIC E-SHOP"></span></h1>
                        <div class="hero__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                        <div class="header_btn">
                            <a href="#" class="btn btn-outline-custom btn-rounded mt-4">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="scroll_down">
        <a href="#about" class="scroll">
            <i class="mbri-arrow-down text-white"></i>
        </a>
    </div>
</section>

<section class="banner spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 offset-lg-4">
                <div class="banner__item">
                    <div class="banner__item__pic">
                        <img src="{% static 'img/banner/banner-1.jpg' %}" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Clothing Collections 2030</h2>
                        <a href="#">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="banner__item banner__item--middle">
                    <div class="banner__item__pic">
                        <img src="{% static 'img/banner/banner-2.jpg' %}" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Accessories</h2>
                        <a href="#">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="banner__item banner__item--last">
                    <div class="banner__item__pic">
                        <img src="{% static 'img/banner/banner-3.jpg' %}" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Shoes Spring 2030</h2>
                        <a href="#">Shop now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product -->
<section class="product spad mt-5 p-2">
    <div class="container mt-3">
        <div class="row">
            <div class="col-lg-12">
                <ul class="filter__controls">
                    <li class="active" data-filter="*">Best Sellers</li>
                    <li data-filter=".new-arrivals">New Arrivals</li>
                    <li data-filter=".hot-sales">Hot Sales</li>
                </ul>
            </div>
        </div>
        <div class="row product__filter" id="products">
            {% for product in products %}
            <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                <div class="product__item" data-url="{% url 'product_detail' product.slug %}">
                    <div class="product__item__pic set-bg" data-setbg="{{ product.product_picture.url }}">
                        <span class="label">New</span>
                        <ul class="product__hover">
                            <li><a href="#"><img class="icon_2em" src="{% static 'img/icon/heart.png' %}" alt=""></a></li>
                            <li><a href="#"><img class="icon_2em" src="{% static 'img/icon/compare.png' %}" alt=""> <span>Compare</span></a></li>
                            <li><a href="#"><img class="icon_2em" src="{% static 'img/icon/search.png' %}" alt=""></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6>{{ product.name }}</h6>
                        <a href="{% url 'add_to_cart' product.slug %}" class="add-cart">+ Add To Cart</a>
                        <div class="rating">
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <h5>${{ product.price }}</h5>
                        <div class="product__color__select">
                            <label for="pc-1">
                                <input type="radio" id="pc-1">
                            </label>
                            <label class="active black" for="pc-2">
                                <input type="radio" id="pc-2">
                            </label>
                            <label class="grey" for="pc-3">
                                <input type="radio" id="pc-3">
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}