{% extends 'base.html' %}
{% block content %}
<section class="breadcrumb-option">
    <div class="container">
        <div class="breadcrumb__links">
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'shop' %}">Shop</a>
            <span>Order Confirmation</span>
        </div>
    </div>
</section>

<section class="order-confirmation spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4>Order Confirmation</h4>
                <p>Thank you for your order! Your order number is {{ order.id }}.</p>
                <p>We have sent a confirmation email to {{ order.email }}.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}