{% load static %}
<div class="cart_sidebar_header">
    <p class="fw-bold">Cart</p>
    <a href="javascript:void(0)" class="closebtn" id="close-cart-sidebar">&times;</a>
</div>
{% if cart_items %}
<div class="cart-summary-body">
    {% for item in cart_items %}
    <div class="cart-product">
        <div class="cart-product-col">
            <img src="{{ item.product.product_picture.url }}" alt="{{ item.product.name }}">
            <div class="cart-product-control">
                <div class="cart-row">
                    <div class="cart-product-name">{{ item.product.name }}</div>
                    <div class="cart-product-total total-price-{{ item.product.slug }}">${{ item.total_price|floatformat:2 }}</div>
                </div>
                <div class="cart-product-quantity">
                    <div class="pro-qty">
                        <button type="button" class="qty-btn qty-btn-minus">-</button>
                        <input type="text" value="{{ item.quantity }}" class="quantity-input" data-product-slug="{{ item.product.slug }}">
                        <button type="button" class="qty-btn qty-btn-plus">+</button>
                    </div>
                    <div class="cart-product-remove"><a href="{% url 'remove_from_cart' item.product.slug %}">Remove</a></div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <hr>
    <div class="cart-total"> 
        <div class="cart-subtotal">
            <div class="cart-row">
                <span>Subtotal</span>
                <span class="subtotal">${{ total_price|floatformat:2 }}</span>
            </div>
        </div>
        <div class="cart-subtotal">
            <div class="cart-row">
                <span>Total</span>
                <span class="total">${{ total_price|floatformat:2 }}</span>
            </div>
        </div>
        <div class="cart-shipping-taxes">Shipping and taxes are calculated during checkout.</div>
    </div>
</div>
<div class="cart-summary-footer">
    <a href="{% url 'checkout' %}" class="primary-btn">Proceed to checkout</a>
</div>
{% else %}
<div class="cart-empty-body">
    <div class="cart-empty-message">Your cart is empty.</div>
</div>
{% endif %}