{% load static %}
{% load nav_active %}
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Offcanvas Menu Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__option">
        <div class="offcanvas__links">
            {% if user.is_authenticated %}
            <div class="dropdown">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ user.username }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><a class="dropdown-item" href="{% url 'order_list' %}">Orders</a></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </div>
            {% else %}
                <a href="{% url 'login' %}">Sign in</a>
            {% endif %}
            <a href="#">FAQs</a>
        </div>
        <div class="offcanvas__top__hover">
            <span>Usd <i class="arrow_carrot-down"></i></span>
            <ul id="currency-selector" role="listbox" aria-label="Currency Selector">
                <li data-currency="NGN" class="currency-item active" role="option" aria-selected="true">NGN</li>
                <li data-currency="EUR" class="currency-item" role="option" aria-selected="false">EUR</li>
                <li data-currency="GBP" class="currency-item" role="option" aria-selected="false">GBP</li>
                <li data-currency="USD" class="currency-item" role="option" aria-selected="false">USD</li>
            </ul>
        </div>
    </div>
    <div class="offcanvas__nav__option">
        <a href="#" class="search-switch icon_1em"><img src="{% static 'img/icon/search.png' %}" alt=""></a>
        <a href="#"><img class="icon_1em" src="{% static 'img/icon/heart.png' %}" alt="heart"></a>
        <a href="#" class="cart-icon" data-cart-url="{% url 'cart_detail' %}">
            <img class="icon_1em" src="{% static 'img/icon/cart.png' %}" alt="cart">
            <span id="cart-count" class="cart-count">{{ cart_items|length }}</span>
        </a>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__text">
        <p>Free shipping, 30-day return or refund guarantee.</p>
    </div>
</div>
<!-- Offcanvas Menu End -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <div class="header__top__left">
                        <p>Free shipping, 30-day return or refund guarantee.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="header__top__right">
                        <div class="header__top__hover">
                            <span id="selected-currency">USD <i class="arrow_carrot-down"></i></span>
                            <ul id="currency-selector" role="listbox" aria-label="Currency Selector">
                                <li data-currency="USD" class="currency-item active" role="option" aria-selected="true">USD</li>
                                <li data-currency="EUR" class="currency-item" role="option" aria-selected="false">EUR</li>
                                <li data-currency="GBP" class="currency-item" role="option" aria-selected="false">GBP</li>
                                <li data-currency="NGN" class="currency-item" role="option" aria-selected="false">NGN</li>
                            </ul>
                        </div>
                        <div class="header__top__links">
                            <a href="#">FAQs</a>
                            {% if user.is_authenticated %}
                            <div class="dropdown">
                                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" >
                                    <div class="user-initials" title="{{ user.get_full_name|default:user.email }}">
                                        {% with user.first_name|default_if_none:"" as first_name %}
                                            {% with user.last_name|default_if_none:"" as last_name %}
                                                {% if first_name and last_name %}
                                                    {{ first_name|slice:":1"|upper }}{{ last_name|slice:":1"|upper }}
                                                {% elif first_name %}
                                                    {{ first_name|slice:":1"|upper }}
                                                {% elif last_name %}
                                                    {{ last_name|slice:":1"|upper }}
                                                {% else %}
                                                    U
                                                {% endif %}
                                            {% endwith %}
                                        {% endwith %}
                                    </div>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li class="dropdown-item">{{ user.username }}</li><hr>
                                    <li><a class="dropdown-item" href="#">Profile</a></li>
                                    <li><a class="dropdown-item" href="{% url 'order_list' %}">Orders</a></li>
                                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                                </ul>
                            </div>
                            {% else %}
                                <a href="{% url 'login' %}">Sign in</a>
                            {% endif %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a href="{% url 'index' %}"><h4 class="fw-bolder" style="color: #300E02;">BOBBYSAM E-SHOP</h4></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li class="{% active request '^/$' %}"><a href="{% url 'index' %}">Home</a></li>
                        <li class="{% active request '^/products/shop/' %}"><a href="{% url 'shop' %}">Shop</a></li>
                        <li class="{% active request '^/blog/' %}"><a href="#">Blog</a></li>
                        <li class="{% active request '^/contacts/' %}"><a href="#">Contacts</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    <a href="#" class="search-switch icon_1em"><img src="{% static 'img/icon/search.png' %}" alt=""></a>
                    <a href="#"><img class="icon_1em" src="{% static 'img/icon/heart.png' %}" alt="heart"></a>
                    <a href="#" class="cart-icon" data-cart-url="{% url 'cart_detail' %}">
                        <img class="icon_1em" src="{% static 'img/icon/cart.png' %}" alt="cart">
                        <span id="cart-count" class="cart-count">{{ cart_items|length }}</span>
                    </a>
                </div>
                <div id="cart_sidebar" class="cart_sidebar">
                    
                    {% include 'products/sub_cart.html' %}
                </div>
                <!-- Overlay -->
                <div id="overlay" class="overlay"></div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>
<!-- Header Section End -->
